@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import 'antd/dist/antd.css';
* {
  font-family: 'Montserrat', sans-serif !important;
}

html,
body {
  font-size: 62.5%;
}
.spinner-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);

  .spinner-border {
    width: 5rem;
    height: 5rem;
    color: #fff;
  }
}
